* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 2rem;
}

.game-section {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  height: calc(100vh - 2rem);
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-x: hidden;
}
@media (min-width: 500px) {
  .game-section {
    width: 500px;
  }
}
.game-section .game-header {
  align-self: center;
  padding: 1rem;
}
.game-section .game-header--title {
  font-size: 4rem;
}
.game-section .game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.game-section .game-container .score-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 240px;
  gap: 1rem;
  background-color: beige;
  padding: 2rem;
}
.game-section .game-container .score-container .total-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.game-section .game-container .score-container .total-score .user,
.game-section .game-container .score-container .total-score .computer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-shadow: -2px 4px 10px rgba(0, 0, 0, 0.4);
}
.game-section .game-container .score-container .total-score .user .icon,
.game-section .game-container .score-container .total-score .computer .icon {
  font-size: 4rem;
}
.game-section .game-container .score-container .total-score .user--score {
  font-size: 3rem;
  font-weight: 700;
  animation: growup 1s;
}
.game-section .game-container .score-container .total-score .computer--score {
  font-size: 3rem;
  font-weight: 700;
  animation: growup 1s;
}
.game-section .game-container .score-container .history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 18rem;
  gap: 10px;
}
.game-section .game-container .score-container .history-container .round-history {
  list-style-type: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.game-section .game-container .score-container .history-container .round-history li {
  background-color: thistle;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  width: 120px;
  padding: 2px 0;
  text-align: center;
  cursor: pointer;
  animation: growup 1s;
  transition: all 0.3s;
}
.game-section .game-container .score-container .history-container .round-history li:hover,
.game-section .game-container .score-container .history-container .round-history li:active {
  transform: scale(1.1);
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.4);
}
.game-section .game-container .round-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.game-section .game-container .round-container .current-round {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.game-section .game-container .round-container .current-round .user-pick {
  font-size: 4rem;
  animation-duration: 3s;
  animation-name: shakeHandUser;
  animation-iteration-count: infinite;
}
.game-section .game-container .round-container .current-round .compare-sign {
  font-size: 4rem;
  font-weight: 900;
  animation-duration: 1s;
  animation-name: slidein;
}
.game-section .game-container .round-container .current-round .computer-pick {
  font-size: 4rem;
  animation-duration: 3s;
  animation-name: shakeHandComputer;
  animation-iteration-count: infinite;
}
.game-section .game-container .user-controls {
  background-color: thistle;
  padding: 2rem 0 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.game-section .game-container .user-controls .btn-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.game-section .game-container .user-controls .btn-container .btn {
  background-color: transparent;
  font-size: 6rem;
  text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.4);
  border: none;
  cursor: pointer;
  animation: btnAnimate 3s;
  animation-iteration-count: infinite;
  transition: all 0.2s;
}
.game-section .game-container .user-controls .btn-container .btn:active {
  animation: none;
  transform: scale(1);
}

.btn--new-game {
  margin-top: 1rem;
  font-size: 3rem;
  border: none;
  padding: 1.5rem 4rem;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  animation-duration: 1s;
  animation-name: slideup;
  transition: all 0.2s;
}

.btn--new-game:hover,
.btn--new-game:active {
  transform: scale(1.1);
}

.congrats-banner {
  animation: slideup 1s;
  animation: scale 2s;
  animation-iteration-count: infinite;
}

@keyframes scale {
  50% {
    text-shadow: 0 1px 20px yellow;
    transform: scale(1.1);
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    transform: scale(0.2);
  }
  70% {
    transform: scale(0.6);
  }
  90% {
    transform: scale(1.1);
  }
}
@keyframes slideup {
  from {
    margin-top: 100%;
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.2);
  }
  90% {
    transform: scale(1.2);
  }
}
@keyframes growup {
  from {
    transform: scale(0);
  }
}
@keyframes btnAnimate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(1);
  }
}
@keyframes shakeHandComputer {
  60% {
    transform: rotateY(30deg);
  }
}
@keyframes shakeHandUser {
  60% {
    transform: rotateX(30deg);
  }
}

/*# sourceMappingURL=style.css.map */
